<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-12">
		  Contact:<br />
		  The University of Tokyo<br />
		  Grad. School of Information Science and Technology, I-REF bldg.4F<br />
		  1-1-1, Yayoi, Bunkyo-ku, Tokyo, JAPAN, 113-8657<br />
		  Email: vmduc[dot]work [at]gmail [dot]com<br />
            (<a href="https://goo.gl/maps/a2JDBYhqWTUmYZBm7">Maps</a>)
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
